{% extends "base.html" %}
{% block title %}Choose a drink{% endblock %}
{% block body %}
    <h1 class="text-center">ORDER A DRINK</h1><br />

    {% for drink, drink_details in drinks.items() %}
    <div class="col-xs-12 col-sm-6 col-lg-4" style="text-align: center;">
        <p><a data-toggle="modal" data-target="#order" data-drink="{{ drink }}"><img class="img-responsive" src="{{ url_for('static', filename=drink_details['image']) }}" alt="{{ drink_details['display'] }}" /></a></p>
        <p><a data-toggle="modal" data-target="#recipe" data-drink="{{ drink }}"><span class="drink-name">{{ drink_details['display'] }}</span>&nbsp;&nbsp;<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></p>
    </div>
    {% endfor %}

    <div class="modal fade" id="order" tabindex="-1" role="dialog" aria-labelledby="order_title">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="order_title">Who is this for?</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input name="customer" title="customer" type="text" class="form-control" id="customer" value="{{ customer or '' }}" placeholder="Boaty McBoatface"/>
                            <input name="drink" title="drink" type="hidden" id="drink"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Order</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="recipe" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="recipe_title"></h3>
                </div>
                <div class="modal-body">
                    <p id="recipe_body"></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#order" data-drink="">Order</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    {{ super() }}

    <script src="https://cdn.jsdelivr.net/lodash/4.13.1/lodash.min.js"></script>

    <script type="text/javascript">
        drinks = {{ drinks|tojson|safe }};

        (function($){
            $.fn.focusTextToEnd = function () {
                this.focus();
                var $thisVal = this.val();
                this.val('').val($thisVal);
                return this;
            }
        }(jQuery));

        var order_modal = $('#order');
        var customer_input = $('#customer');

        order_modal.on('show.bs.modal', function (event) {
            var triggering_element = $(event.relatedTarget);
            var drink = triggering_element.data('drink');
            var submit = $(this).find('.btn-primary');

            // Fill in the hidden 'drink' field with the drink type.
            $('#drink').val(drink);

            // Make the submit button more explicit.
            submit.text('Order ' + drinks[drink]['article'] + ' ' + drinks[drink]['singular']);

            // Make the title more explicit.
            $('#order_title').text('Who is this ' + drinks[drink]['singular'] + ' for?');

            // Disable the submit button unless a customer name is entered.
            submit.prop('disabled', customer_input.val() == '');
            customer_input.on('change keyup blur input', function () {
                submit.prop('disabled', this.value == '');
            });
        });

        order_modal.on('shown.bs.modal', function () {
            var urlReplace = '#' + $(this).attr('id');
            history.pushState(null, '', urlReplace);

            // Make sure that the customer field is focused.
            customer_input.focusTextToEnd();
        });

        var recipe_modal = $('#recipe');

        function ingredient_to_dom(ingredient) {
            return (
                '<div class="ingredient">' +
                '<span class="ingredient-amount">' + ingredient[0] + '</span>&nbsp;' +
                '<span class="ingredient-name">' + ingredient[1] + '</span>' +
                '</div>'
            );
        }

        recipe_modal.on('show.bs.modal', function (event) {
            var triggering_element = $(event.relatedTarget);
            var drink = triggering_element.data('drink');
            var modal = $(this);
            var submit = modal.find('.btn-primary');

            // Set the data-drink attribute to right drink.
            submit.data('drink', drink);

            // Make the submit button more explicit.
            submit.text('Order ' + drinks[drink]['article'] + ' ' + drinks[drink]['singular']);

            // Populate the recipe.
            $('#recipe_title').text(drinks[drink]['display'] + ' Recipe');
            $('#recipe_body').html(_.join(_.map(drinks[drink]['recipe'], ingredient_to_dom).reverse(), ''));

            submit.click(function () {
                modal.modal('hide');
            });
        });

        recipe_modal.on('shown.bs.modal', function () {
            var urlReplace = '#' + $(this).attr('id');
            history.pushState(null, '', urlReplace);
        });

        $(window).on('popstate', function () {
            order_modal.modal('hide');
            recipe_modal.modal('hide');
        });
    </script>

    <style>
        h1 {
            color: #ffffff;
        }
        a {
            color: #ffffff !important;
            background: none !important;
            border: none !important;
            box-shadow: none !important;
        }
        .drink-name {
            font-size: larger;
            font-weight: bolder;
        }
        .ingredient-amount {
            font-weight: bolder;
        }
    </style>
{% endblock %}
