{% extends "base.html" %}
{% block title %}Choose a drink{% endblock %}
{% block body %}
    <h1 class="text-center">ORDER A DRINK</h1><br />

    {% for drink, drink_details in drinks.items() %}
    <a type="button"
       class="btn btn-primary btn-lg col-xs-12 col-sm-6 col-lg-4"
       data-toggle="modal"
       data-target="#formModal"
       data-drink="{{ drink }}"
       data-drink-article="{{ drink_details['article'] }}"
       data-drink-singular="{{ drink_details['singular'] }}"
       style="background: none; border: none; box-shadow: none">
        <p><img class="img-responsive" src="{{ url_for('static', filename=drink_details['image']) }}" alt="{{ drink_details['display'] }}" /></p>
        <p class="drink-name">{{ drink_details['display'] }}</p>
    </a>
    {% endfor %}

    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="formModalLabel">Who is this for?</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input name="customer" title="customer" type="text" class="form-control" id="customer" value="{{ customer or '' }}" placeholder="Boaty McBoatface"/>
                            <input name="drink" title="drink" type="hidden" id="drink"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" id="submit">Order</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        (function($){
            $.fn.focusTextToEnd = function () {
                this.focus();
                var $thisVal = this.val();
                this.val('').val($thisVal);
                return this;
            }
        }(jQuery));

        var modal = $('#formModal');
        var customer = $('#customer');

        modal.on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var drink = button.data('drink');
            var drink_article = button.data('drink-article');
            var drink_singular = button.data('drink-singular');
            var submit = $('#submit');

            // Fill in the hidden 'drink' field with the drink type.
            $('#drink').val(drink);

            // Make the submit button more explicit.
            submit.text('Order ' + drink_article + ' ' + drink_singular);

            // Make the title more explicit.
            $('#formModalLabel').text('Who is this ' + drink_singular + ' for?');

            // Disable the submit button unless a customer name is entered.
            submit.prop('disabled', customer.val() == '');
            customer.on('change keyup blur input', function () {
                submit.prop('disabled', this.value == '');
            });
        });

        modal.on('shown.bs.modal', function () {
            var urlReplace = '#' + $(this).attr('id');
            history.pushState(null, '', urlReplace);

            // Make sure that the customer field is focused.
            customer.focusTextToEnd();
        });

        // If a pushstate has previously happened and the back button is clicked, hide any modals.
        $(window).on('popstate', function () {
            modal.modal('hide');
        });
    </script>

    <style>
        h1 {
            color: #ffffff;
        }
        .drink-name {
            font-size: larger;
            font-weight: bolder;
        }
    </style>
{% endblock %}
